body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color:black;
  display: flex;
  justify-content: center;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  /* background-color:lightsalmon; */
   background-color:white;
  color: black;
}

#logo h1 {
  display: block;
  text-align: center;
  font-family: 'Tangerine', serif;
  font-size: 95px;
  text-shadow: 4px 4px 4px #212529;
  font-weight: bold;
  margin: 2rem;
  color: #f9d773d4;
  /* color: #7fe4c2; */
}


/*--- HomePage Content ---------- */
.homeContent {
  display: flex;
  margin-top:3rem;
}

.getInspired {
  padding:3rem;
  font-size:20px;
  line-height: 1.5;
}

.getInspired h2 {
  font-size:60px;
  font-family: 'Lobster', cursive;
  margin-bottom: 2rem;
}

.carousel-item {
    height: 42rem;
}


/*----------- register page content-------------*/

.formContainer{
  display: flex;
}


/*---- Footer ----- */
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:black;
   color: white;
   text-align: center;
}

.footer p {
  margin-top:1rem;
}

form{
    width: 50%;
    padding: 4rem;
}

form h1 {
   text-align: center;
   margin-bottom:2rem;
}


/*------- Sale Page Content -----------*/

.saleTitle {
  color: red;
  text-align: center;
  margin:3rem;
  font-weight: bold;
  font-size: 5rem;
}

.col img {
  width: 100%;
}


/*---------- Home images carousel ---------*/

/* * {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle;}


.slideshow-container {

  position: relative;
  margin: auto;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
} */
