/* Nest Nav */
nav ul li {
  display: inline;
  color: white; }
  nav ul li a:link, nav ul li a:visited {
    color: white;
    text-decoration: none; }
  nav ul li a:hover, nav ul li a:active {
    color: #313130;
    text-decoration: underline; }

/* Variables */
body {
  background-color: #daaa0e; }

/* Nest Main */
main {
  min-height: 535px;
  background-color: white;
  display: flex;
  padding: 30px; }
  main #intro-text {
    background-color: #d4d5d8;
    width: 37%;
    text-align: center;
    padding: 125px 21px 36px 20px; }
    main #intro-text span {
      font-family: "Sacramento", cursive;
      font-size: 2em; }
    main #intro-text h3 {
      font-family: Arial, Helvetica, Sans-Serif;
      font-size: 30px; }
    main #intro-text p {
      font-family: Arial, Helvetica, Sans-Serif; }
    main #intro-text .submit-button {
      background-color: #daaa0e;
      color: white;
      padding: 10px 20px;
      border: 3px none #daaa0e;
      font-family: Arial, Helvetica, Sans-Serif;
      font-size: 15px; }
  main #intro-image {
    width: 60%; }
    main #intro-image img {
      width: 100%;
      height: 100%; }

footer {
  padding: 20px 0 0 50px; }
