@import "colors";

/* Nest Nav */
nav{
    ul{
        li{
            display: inline;
            color: $color3;
            a:link, a:visited{
                color: $color3;
                text-decoration: none;
            }
            a:hover, a:active {
                color: $color7;
                text-decoration: underline;
            }
        }
    }
}