@import "colors";
@import "nav";

/* Variables */
$font1: Arial, Helvetica, Sans-Serif;
$font2: 'Sacramento', cursive;



body{
    background-color: $color1;
}


/* Nest Main */
main {
    // width: 1350px;
    min-height:535px;
    background-color: $color3;
    display: flex;
    padding: 30px;
    #intro-text {
        background-color: $color4;
        width:37%;
        // height: 100%;
        text-align: center;
        padding: 125px 21px 36px 20px;
        // padding: 100px;
        span {
            font-family: $font2;
            font-size: 2em;
        }
        h3 {
            font-family: $font1;
            font-size: 30px;
        }
        p {
            font-family: $font1;
        }
        .submit-button {
            background-color: $color1;
            color:white;
            padding: 10px 20px;
            border: 3px none $color1;
            font-family: $font1;
            font-size: 15px;
        }
    }
    #intro-image {
        width: 60%;
        // width:70%;
        // height: 100%;
        img {
            width: 100%;
            height: 100%;
            // width: 865px;
            // height: 519px;
        }
    }
}

footer {
    padding: 20px 0 0 50px;
}

