.main-header ul li {
  display: inline-block;
  padding:15px;
}

header {
  text-align: center;
}

header h1 {
   text-shadow: 3px 2px wheat;
   color:purple;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 60px;
}

#homeImage {
  background: no-repeat center url(images/dog1.jpg);
  background-size: 850px 550px;
  height:500px;
  width: 1000px;
  margin: auto;
}

.main-header li a:hover {
  color: rgb(0, 89, 255);
}

main h1 {
  text-align: center;
  font-size:35px;
  margin:55px 0 0 0;
}

main h3 {
  font-size: 25px;
  text-shadow: 3px 2px whitesmoke;
  color:blue;
}

main p {
  font-size:20px;
}

fieldset {
  border: 2px solid orange;
}

.zoomImg {
   transition: transform .2s;
}

.zoomImg:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

footer {
  clear:both;
  margin-top:200px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


/* Gallery Images */
main #album li {
  list-style-type: none;
  float:left;
  padding-left: 25px;
  padding-right: 25px;
  border-left: 1px solid rgba(202, 204, 202, 0.6);
  line-height: 100px;
  text-decoration: none;
  position: relative;
}

.captionText {
  text-align: center;
  margin: 0;
}

#album {
  position: relative;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  /* opacity: 0; */
  visibility: hidden;
  /* transition: .6s ease; */
  background-color: white;
  transform: translate(-50%, -125%);
}

#album .photo:hover .overlay {
  /* opacity: 1; */
  visibility: visible;
}



/* Click on the image */
.lightbox-toggle {
    color: black;
}

.backdrop {
    z-index: 1;
    opacity: .0;
    filter: alpha(opacity=0);
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000;
}

.box {
    z-index: 2;
    position: fixed;
    opacity: 1;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    width: 600px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 5px #444444;
    -webkit-box-shadow: 0px 0px 5px #444444;
    box-shadow: 0px 0px 5px #444444;
}

* {
    z-index: 1;
}

.close {
    float: right;
    cursor: pointer;
}

#gallery #photo a img {
    width: 400px;
}

.box img {
    width:100%;
}
