<!DOCTYPE html>
<html lang="en">

<head>
  <title>Food Blog</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  
  <link rel="stylesheet" href="style.css">
</head>


<body>
  <aside id="leftside"></aside>
  <aside id="rightside"></aside>
  <div id="container">
    <header id="title">
      <mycomponent1></mycomponent1>

      <div id="component2">
        <navbar>
        </navbar>
      </div>

    </header>

    <main>

      <aside id="photos">
        <img v-bind:src= "image" v-bind:alt="alt" width="180" >
        <!-- <img src="images/chili.jpg" alt="White Chicken Chili" width="180"> -->
      </aside>
      <h2 id="commentsTitle">
        {{ titleComments }}
      </h2>


      <section id="blogposts">
        <ul>
          <li id="posts" v-for="post in posts">

            <div class="contentHeader">

            <span class="profile">
              <img v-bind:src="post.image" v-on:click="showmodal(posts, post)">
            </span>

              <span class="author">
                {{ post.author }}
              </span>
              <span class="date">
                {{ post.date }}
              </span>
              <span class="reply">
                {{ post.reply }}
              </span>

            </div>
              <p>
                {{ post.text}}
              </p>
          </li>

          <div id="mymodal" v-for= "post in posts" v-if="post.show" >
            <span id="closeIcon" v-on:click= "$emit('close', post.show = false)">&times;</span>
            <p id="modalAuthor">{{ post.author }}</p>
            <p>Foodie Level: {{ post.foodie_level }} </p>
            <p>Bio: <br>
               {{ post.bio }} </p>
            <button v-on:click= "$emit('close', post.show = false)">Close</button>
          </div>
        </ul>
      </section>

    </main>

    <footer>
      &copy; Copyright FOOD BLOG
    </footer>

  </div>


  <!-- Bootstrap jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Bootstrap Popper -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="vue.js"></script>



</body>

</html>
